<%= required_fields_message %>

<%= render :file => 'shared/tiny_mce' %>

<%= required labelled_form_field(_('Title'), text_field(:article, 'name', size: 64, maxlength: 150)) %>

<%= select_profile_folder(_('Parent folder:'), 'article[parent_id]', profile, @article.parent_id) %>

<%= labelled_form_field _('Description'), text_area(:article, :body, style: 'width:100%; height:200px;', class: 'mceEditor') %>
