.controller-profile_editor .control-panel .control-panel-todolist {
  background-image: url(/images/control-panel/editpaste.png);
}

.icon-newtodolist, .icon-todolist {
  background-image: url(/designs/icons/default/Tango/16x16/actions/stock_paste.png);
}

.icon-newtodoactivity, .icon-todoactivity {
  background-image: url(/designs/icons/tango/Tango/16x16/categories/applications-development.png);
}

#newtodoactivity-bt {
  font-weight: bold;
}

.todo-activity-title {
  font-size: 16px;
}

.edit-todo-activity { /* force modal color-box size */
  min-width: 600px;
  min-height: 200px;
  padding: 5px 10px 0 10px;
}
#cboxContent .edit-todo-activity { /* do not mess with color-box scroll */
  min-width: 0;
}

#content .edit-todo-activity { /* remove color-box ugly hack */
  min-width: 0;
  min-height: 0;
  padding: 0;
}

.edit-todo-activity label {
  margin-right: 5px;
}

.edit-todo-activity .todo-activity-title,
.edit-todo-activity .formfield.type-textarea {
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.02);
}

#todo-activities .edit-todo-activity .todo-activity-title,
#todo-activities .edit-todo-activity .formfield.type-textarea {
  border: 1px solid rgba(0,0,0,0.3);
  background: #FFF;
}

.edit-todo-activity .formfield.type-textarea {
  box-shadow: inset 3px 3px 4px rgba(0,0,0,0.1);
}

.todo-activity-title input,
.edit-todo-activity textarea {
  font-size: 16px;
  min-width: 100%;
  max-width: 100%;
  border: none;
  background: transparent;
  padding: 0;
}

.edit-todo-activity textarea {
  font-size: 12px;
}

.todo-add-description {
  float: right;
}

#todo-activities {
  margin: 0;
  padding: 10px 0;
}

#todo-activities li {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  background-color: rgba(0,0,0,0.05);
  background-position: 50% 50%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}

#todo-activities li.fail {
  background-color: rgba(200,0,0,0.2);
}
