<div class="edit-todo-activity">
<%= form_for :activity, url: {action: 'new_activity'} do |f| %>

<%= error_messages_for :activity %>

<%=
if params['list'].blank? || params['list'].to_i == 0
  labelled_select( _('Add new activity to:'), :list_id, :id, :name, list.id, profile.todo_lists )
else
  unless params['hide_parent']
    ( _('Add new activity to "%s"') % content_tag(:strong, list.name) )
  end.to_s +
  hidden_field_tag(:list_id, list.id)
end
%>

<div class="todo-activity-title">
  <%= required f.text_field :name, placeholder: _('Must do #something for @theProject') %>
</div>

<% desc_id = 'desc' + rand.to_s.split('.').last %>
<%=
link_to _('Add description'), 'javascript:', class: 'todo-add-description',
        onclick: "jQuery('##{desc_id}').show(); this.style.display='none'"
%>
<div id="<%=desc_id%>" style="display:none">
<% label = _('Description') + " <small>(#{_("can't be exproted on todo.txt")})</small>" %>
<%= labelled_form_field label, text_area(:activity, :body, cols: 65, rows: 4) %>
</div>

<%= submit_button :save, _('Save') %>

<%= render file: 'todo_plugin/help_notation' unless params['no_help'] %>

<% end %>
</div>
