block.list <%= block.list_id %>

todo_lists <%= block.owner.todo_lists.length %>
<hr>
<%= block.activities.to_sql %>

<hr>
<% if block.activities.empty? %>

  <% if block.list_id == 0 # list all profile activities:
    name = block.owner == user ? _('You') : block.owner.short_name
  else # list from only one todo list:
    name = TodoPlugin::TodoList.find(block.list_id).name
  end %>
  <%= _('%s have no activities.') % name %>

<% else %>



<% end %>
