<% id = 'help' + rand.to_s.split('.').last %>
<div class="todotxt-help" id="<%=id%>">
<%=
  urlFullDoc = 'https://github.com/ginatrapani/todo.txt-cli/wiki/The-Todo.txt-Format'
  content_tag(:h2, _('TODO.txt Help')) +
  _('How to write in <code>TODO.txt</code> notation.') + "\n" +
  link_to( _('View full doc'), urlFullDoc) + '.'
%>
</div>
