<ul id="todo-activities">
<% if list.activities.empty? %>

  <strong><%= _('There is no activity.') %></strong>

<% else %>

  <% list.activities.each do |activity| %>
    <li id="todo-activity-<%= activity.id %>">
      <div class="todo-activity-title">
        <%= activity.name %>
      </div>
      <div class="todo-activity-body">
        <%= activity.body %>
      </div>
    </li>
  <% end %>

<% end %>
</ul>

<%=
  url = TodoPlugin.myprofile_ctrl_url list.profile, :new_activity, list: list.id
  button :newtodoactivity, _('Create a new activity'), url, id: 'newtodoactivity-bt'
%>

<%= javascript_include_tag '/plugins/todo/todo.js' %>
